
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

img{
    display: block;
}

body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

.hero{
    display: flex;
    justify-content: space-between;
    
}

.miciab{
    margin-left: auto;
    border-bottom-left-radius: 60px;
}
.miciob{
    border-bottom-right-radius: 60px;
}

.List__h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: red;
    
    justify-content: center;
}

.List__ul{
  text-align: center;
  margin: 0 auto;
  width: 150px;
}

ul{
    text-align: center;
    list-style-type: none;
    justify-content: center;
    background-color: rgba(34, 245, 15, 0.7);
    border-radius: 20px;
    font-size: 25px;
    line-height: 1.5;
}

a:any-link{
    color: rgb(51, 51, 51);
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
   
 }


 .micioboxes{
    position: absolute;
    
 }

 .hover_img{
    position: absolute;
    top: 0;
    left: 0;
    display: none
 }
 .micioboxes:hover .hover_img {

    display: inline;
    transform: scale(0.4);
    border-radius: 10px;
    position: inherit;
    margin-top: -475px;
    margin-left: -420px;
    }

.miciobox{
    transform: scale(0.4);
    /* border: 40px solid rgba(118, 224, 112, 0.8); */
    border-radius: 10px;
    position: inherit;
    margin-top: -470px;
    margin-left: -380px;
    /* background-image: url('img/boxclosedpng.jpg');
    background-size: cover;
    transition: background-image 0.3s ease; */
}


.miciamoto{
    margin-top: 600px;
    position: relative;
    left: 100%;
    margin-left: 1835px;
    animation: 7s  linear 0s 99 normal forwards slide;
    overflow: hidden;
}

@keyframes slide {
    0% {
      transform: translateX(-00px);
    }
  
    33% { 
      transform: translateX(-200px);
    }
  
    66% {
      transform: translateX(-300px);
    }
  
    100% {
      transform: translateX(-5000px);
    
    }
  }


 /* .box{
    width: 100px; 
    height: 100px; 
    background-color: white;
    background-color: aliceblue;
    position: absolute;
    z-index: 0;
    margin-left: 60px;
    top: 28px;
    opacity: 50%;
 } */