@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a{                              /*a sta x i link */
    /* text-decoration: none;      il testo stesso (dei link), mettendo none togli l'underline */
    cursor: pointer;            /*cosa accade quando metti il mouse sopra un link */
    color: hsl(120, 100%, 25%);
}

/*le pseudo-class vanno messe in ordine o non funzionano bene: 
visited >> hover >> active
 */

 a:visited{                      /*qst sono le pseudo class, qst cambia i link cliccati */
    color: purple;
}


a:hover, a:focus{               /*hover= quando mouse passa sopra, focus se lo selezioni con tab  */
    /* color: aqua; */          /*cambi colore link */
    /* opacity: 0.7; */         /*cambi opacita quando ci vai sopra */
    color: hsl(120, 100%, 25%, 0.8);    /*fai insieme color e opacity */
    background: gold;                   /*colore bg */
}

a:active{                       /*mentre stai cliccando */
    color: red;
}

